*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif; /*corregido*/
}

.sum_navbar {
    background-color: rgba(255, 255, 255, 0.7)!important;
}

.sum_navbar div, .sum_navbar ul {
    background-color: transparent !important;
}
.sum_cont_sec_1 {
    padding: 10%;
}
.sum_cont_sec_1_link {
    padding: 5%;
}
.sum_cont_sec_1_link a{
    width: 200px;
}
.sum_cont_sec_1_link hr {
    border-top: 1px solid rgba(1, 1, 1, 0.3);
}